SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/postgres
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres
APPLICATION_NAME=lost-link-server
SERVER_PORT=8081
JWT_SECRET_KEY=secure_jwt_secret