services:
  db:
    image: postgres:16
    container_name: lostlink-db
    environment:
      POSTGRES_DB: lostlink
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
